html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  font-size: 1rem;
  overflow: auto; 
  }

*, *:before, *:after { 
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; 
 }
   
body {
  background-color: #e8eaf6 ;
  margin: 1px;
  font-family: 'Germania One', cursive;
}  

/* Calculate text size based on port */
.text-responsive {
  font-size: 9vw;
}

.sticky-offset { 
  padding: 5rem 0rem 0rem 0rem; 
} 

.text-navy {
  color: navy;
  font-family: 'Germania One', cursive;
}

 /*Header & Footer: Gradient Colors */
.bg-grad_navy {
  /*  background-color:  rgba(0,0,255); For browsers that do not support gradients */
  background-image: linear-gradient(rgba(65, 4, 248, .2), rgb(6, 4, 110, 1)); 
 }

 hr.line{
	border-top: 2px solid #8c8b8b;
}


hr.line-double {
	border-top: 5px double #8c8b8b;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
Bootstrap 4 breakpoints
*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {  
  .text-responsive {font-size: 6vw;}
  .sticky-offset {padding: 6rem 0rem 0rem 0rem;} 
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {  
  .text-responsive {font-size: 6vw;}
  .sticky-offset {padding: 7rem 0rem 0rem 0rem;} 
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  .text-responsive {font-size: 6vw;} 
  .sticky-offset {padding: 7rem 0rem 0rem 0rem;} 
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
  .text-responsive {font-size: 5vw;}
  .sticky-offset {padding: 7rem 0rem 0rem 0rem;} 
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
  .text-responsive {font-size: 4vw;}
  .sticky-offset {padding: 8rem 0rem 0rem 0rem;} 
}
